#tablaencabezado{
    background-color:rgb(25,165,25);
    padding:10px;
    margin-left:30%;
    margin-top:30px;
    margin-bottom:20px;
    border-radius:5px;
    width:25%;
}

#tablaencabezado td{    
    color:white;
    padding:10px;    
}

.tablausuario{
    padding-top:40px;
}

td a{
    padding:0 5px;
    font-size:18px;
    cursor:pointer;
}
td input{
    outline:none;
    background-color:#DEF3CA;
}

textarea{
    width:350px;
    height:200px;
    padding:10px;
}

