/*************Precipitación************/
//tooltip
[data-tip] {
    position: relative;
}

[data-tip]:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position: absolute;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    top:37%;
    left:40%;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    padding: 5px 8px;
    background: #fff;
    color: #1a1a1a;
    font-weight:700;
    border:1px solid black;
    font-size:20px;
    z-index: 9;
    font-size: 0.75em;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
    top: 37%;
    left: 40%;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}




