body{
    font-family: 'Lexend Deca', sans-serif;
}

td a{
    padding:0 5px;
    font-size:18px;
    cursor:pointer;
}
.iconocerrar{
    font-size:20px;
    padding:5px;
    cursor:pointer;
    color:white;
}
#txt_producto{
    margin: 0 8px;
    display: block;
    height: 22px;
    width:300px;
    padding: 0 10px;
    border-width: 1px;
    border-color: #cecece;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    font-family: 'Lexend Deca', sans-serif;
}
 


