
@{
    ViewBag.Title = "AnalisisPromedios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/CargaPrecios/analisispromedios.css?v=@ViewData["qversion"]" rel="stylesheet" />
    <link href="~/Content/GraficoPrecios/multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/GraficoPrecios/multiselect.js"></script>

    <title>Analisis de Promedios</title>
</head>
<body>
    <div>
        <input id="version_v" value=@ViewData["qversion"] style="display:none">
    </div>

    <div class="barra" style="margin-bottom:20px;">
        <label class="lab">Producto(s):</label>
        <select name="selectproductos[]" multiple id="selectproductos"></select>

        <label class="lab">Mercado:</label>
        <select id="select_mercado"></select>

    </div>
    <div class="barra" style="margin-top:20px;">

        <label class="lab">Mes de Inicio:</label>
        <input type="month" id="txt_fechainicio" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <label class="lab">Mes de Fin:</label>
        <input type="month" id="txt_fechafin" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <label class="lab">Amplitud:</label>
        <select style="width:200px;" id="select_amplitud">
            <option value="0">--Seleccionar--</option>
            <option value="7">Semanal</option>
            <option value="15">Quincenal</option>
            <option value="30">Mensual</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a id="btngraficar" onclick="Graficar();"> Graficar </a>
    </div>

    <figure class="highcharts-figure">
        <div id="contenedor_grafico" class="contain"></div>
    </figure>

    <div id="scrollToHere">
    </div>

    <script>
        $('#selectproductos').multiselect({
            columns: 1,
            title: 'Seleccionar',
            search: true,
        });

    </script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/CargaPrecios/AnalisisPromedios.js?v=@ViewData["qversion"]"></script>
    <script src="~/Scripts/GraficoPrecios/highcharts.js"></script>
    <script src="~/Scripts/GraficoPrecios/highcharts-3d.js"></script>
    <script src="~/Scripts/GraficoPrecios/exporting.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/font-all.js"></script>

</body>
</html>




